:root {
	--background-color: white;
	--background-color: oklch(1 0 0);
	--border-color: AliceBlue;
	--border-color: oklch(0.95 0 0);
	--border-size: 3px;
}

x-table {
	display: table;
}

x-gender-head {
	display: table-header-group;
}

x-tense-row {
	display: table-row;
}

[hide*="masculine"] [gender="masculine"],
[hide*="neuter"] [gender="neuter"],
[hide*="feminine"] [gender="feminine"],
[hide*="plural"] [plural],
[hide*="nominative"] [tense="nominative"],
[hide*="accusative"] [tense="accusative"],
[hide*="dative"] [tense="dative"] {
	display: none;
}

x-gender,
x-reset,
x-tense,
x-example-set {
	display: table-cell;
}

@supports (grid-template-columns: subgrid) {
	x-table {
		display: grid;
		grid-template-columns: minmax(min-content, 0) repeat(auto-fill, minmax(min-content, 150px));
	}

	x-gender-head,
	x-tense-row {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
	}

	x-example-set,
	x-reset {
		display: grid;
	}
}

x-example {
	display: block;
}

/* 💅 */
x-table-wrapper {
	background: var(--background-color);
}

x-table {
	font-family: sans-serif;
	line-height: 1.5rem;
	gap: var(--border-size);
	background-color: var(--border-color);
	border: var(--border-size) solid var(--border-color);
	border-collapse: collapse;
}

x-table :is(x-gender, x-tense, x-example-set) {
	background: var(--background-color);
	padding: 0.2rem;
}

x-gender,
x-reset,
x-tense,
x-example-set {
	border: var(--border-size) solid var(--border-color);

	@supports (grid-template-columns: subgrid) {
		border: none;
	}
}

x-tense {
	display: grid;
	grid-template-rows: 1fr min-content min-content;
	gap: 0.5rem;
}

x-gender {
	display: grid;
	grid-template-columns: 1fr min-content min-content;
	gap: 0.5rem;
}

b {
	color: crimson;
	color: oklch(0.3 0.5 45);
}

x-example:nth-of-type(2n) {
	background-color: LavenderBlush;
	background-color: oklch(99% 0.05 0);
}
