x-table {
    display: grid;
    grid-template-columns: [tense-start] min-content [tense-end
            masculine-start] 1fr [masculine-end
            neuter-start] 1fr [neuter-end
            feminine-start] 1fr [feminine-end
            plural-start] 1fr [plural-end];
    grid-template-rows: [head-start] min-content [head-end
            nominative-start] 1fr [nominative-end
            accusative-start] 1fr [accusative-end
            dative-start] 1fr [dative-end];
}

x-gender-head {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: masculine-start / plural-end;
}

x-tense-head {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: nominative-start / dative-end;
}

x-example-grid {
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    grid-area: nominative-start / masculine-start / dative-end / plural-end;
}

x-example-set {
    display: grid;
    /*grid-template-columns: subgrid;*/
    /*grid-template-rows: subgrid;*/
}

x-example-set[tense=nominative] {
    grid-row: nominative-start / nominative-end;
}

x-example-set[tense=accusative] {
    grid-row: accusative-start / accusative-end;
}

x-example-set[tense=dative] {
    grid-row: dative-start / dative-end;
}

x-example-set[gender=masculine] {
    grid-column: masculine-start / masculine-end;
}
x-example-set[gender=neuter] {
    grid-column: neuter-start / neuter-end;
}
x-example-set[gender=feminine] {
    grid-column: feminine-start / feminine-end;
}

x-example-set[plural] {
    grid-column: plural-start / plural-end;
}

x-example {
    display: block;
}

@media (width < 350px) {

}

/* 💅 */
:root {
    --background-color: oklch(1 0 0);
    --border-color: oklch(0.95 0 0);
    --border-size: 3px;
}

x-table-wrapper {
    background: var(--background-color);
}

x-table {
    font-family: sans-serif;
    line-height: 1.5rem;
    gap: var(--border-size);
    background-color: var(--border-color);
    border: var(--border-size) solid var(--border-color);
}

x-table :is( x-gender, x-tense, x-example-set) {
    background: var(--background-color);
    padding: 0.2rem;
}

b {
    color: oklch(0.3 0.5 45)
}

x-example:nth-of-type(2n) {
    background-color: oklch(99% 0.05 0)
}
